* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: black;
  font-size: 50px;
}
body {
  height: 100vh;

  background-color: #62478a;
}
form > * {
  margin-top: 20px;
}
form {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  padding: 2%;
  margin: auto;
}
.container-form {
  display: flex;
  height: 80vh;
}
input {
  height: 40px;
  width: 100%;
  padding: 0px 10px;
}
button {
  height: 50px;
  width: 100%;
  background-color: #007aff;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-width: 0px;
  border-radius: 6px;
}
